<%- include("../../partials/header") %>


<div style="display: inline-block; float: left;width:700px;">

    <img src="static/img/archie.png" style="width:120px;padding:15px;" align="middle" alt="Go !">
    <p class="infotext"> Investment </p>
    <br/>
    <br/>
    <p class="paratext">
     <br><br>
     🔖 Investment is the purchase of goods or allocating money that are not consumed today but are used in the future to generate wealth.
     <br/>
     <br/>
     🔖 You can earn own money and invest in stocks , exchange-traded funds.
     <br/>
     <br/>
     🔖 Have a MicroSavings app.
     <br/>
     <br/>
     🔖 Have Savings or Checking accounts .
    


     

    <br>
     <br>
    🤔 What is Roth IRA ?

    <br>

    <br>
    A Roth IRA is an individual retirement account in which money grows tax-free and retirement withdrawals are tax-free.

    </p>



  <br>
  <br>
    <a href="/investmentquiz" class="btn btn-primary" style="align-self: center;">Go to Quiz !</a>

</div>

<%- include("../../pointsboard") %>


 



 
</body>



<%- include("../../partials/totalscore.js") %>




<%- include("../../partials/footer") %>