<%- include("../../partials/header") %>


<div style="display: inline-block; float: left;width:700px;">

    <img src="static/img/boy.png" style="width:120px;padding:15px;" align="middle" alt="Go !">
    <p class="infotext"> Budgeting </p>
    <p class="paratext">
     <br/>
     <br/>
     🔖 A budget is an incredibly useful tool for tracking money earned and money spent.
     <br>
     <br>
     🔖 Have you ever asked your parents for something and been told they can't afford it?<br> It might seem like they are being dishonest. You know they have a credit card, debit card, or cash. <br>How can they literally have money in their hand and tell you they can't afford something? <br>People make decisions about what they can afford, or have enough money to pay for, based on a budget.
     <br>
     <br>
     😄 Let’s see if you’re able to do 'Budgeting' !
 
    <br>
    <br>
    <a href="/budgetingquiz" class="btn btn-primary" style="align-self: center;">Go to Quiz !</a>

</div>

<%- include("../../pointsboard") %>


 



 
</body>



<%- include("../../partials/totalscore.js") %>




<%- include("../../partials/footer") %>