<%- include("../../partials/header") %>


<div style="display: inline-block; float: left;width:700px;">

    <img src="static/img/boy.png" style="width:120px;padding:15px;" align="middle" alt="Go !">
    <p class="infotext"> Work </p>
    <p class="paratext">
     <br/>
     <br/>
     🔖 Work is any activity by which our parents get money , and thus they buy you your favorite things.
     <br>
   
     <br>

     🔖 You can also contribute by doing internships , summer jobs etc.

     <br>
   
     <br>
     
     🤔 What are different types of work around you ?
 
     <br>
 
     <br>
     Your Dad , Mom doing office work.
     <br>
     Your big sister during internship / work.
     <br>
     Househelps doing chores.
     <br>
     Sweeping / Cleaning.
     <br>
     Shopkeeper selling goods.
    
    </p>


  <br>
  <br>
    <a href="/workquiz" class="btn btn-primary" style="align-self: center;">Go to Quiz !</a>

</div>

<%- include("../../pointsboard") %>


 



 
</body>



<%- include("../../partials/totalscore.js") %>




<%- include("../../partials/footer") %>