<%- include("../../partials/header") %>


<div style="display: inline-block; float: left;width:700px;">

    <img src="static/img/boy.png" style="width:120px;padding:15px;" align="middle" alt="Go !">
    <p class="infotext"> Spending </p>
    <p class="paratext">
     <br/>
     <br/>
     🔖 It is probably the most important concept because it is a personal reflection of your values, lifestyle.
     <br>
     <br>
     🔖 Differentiating between NEEDS and WANTS is the basic concept of controlling spending. 
     <br>
     <br>
     😄 Let’s see if you’re able to differentiate a few needs  and wants and earn points for you !
 
    <br>
    <br>
    <a href="/spendingquiz" class="btn btn-primary" style="align-self: center;">Go to Quiz !</a>

</div>

<%- include("../../pointsboard") %>


 



 
</body>



<%- include("../../partials/totalscore.js") %>




<%- include("../../partials/footer") %>