<%- include("./partials/header2") %>




<div style="display: inline-block; float: left;">
<br> 
<img src="static/img/boy.png" style="width:120px;padding:15px;" align="middle" alt="Go !">
<p class="infotext">  🔖 Let's dive into your lessons !</p>
<br>
<br>
<div class="divbox">
<a href="/money" class="infotext">Money</a> 
<br>
<br>
<a href="/saving" class="infotext">Saving</a> 
<br>
    <br>
<a href="/work" class="infotext">Work</a> 
<br>
    <br>
</div>

<div class="divbox">
    <a href="/spending" class="infotext">Spending</a> 
    <br>
    <br>
    <a href="/budgeting" class="infotext">Budgeting</a> 
    <br>
        <br>
    <a href="/work" class="infotext">Shopping</a> 
    <br>
        <br>
    </div>


    <div class="divbox">
       
        <a href="/economy_teenage" class="infotext">Debt</a> 
        <br>
        <br>
        <a href="/saving" class="infotext">Interest</a> 
        <br>
        <br>
        <a href="/work" class="infotext">Economy</a> 
        <br>
            <br>
        </div>


</div>
<%- include("./pointsboard") %>
 
    <br>
        
 
</body>



<%- include("./partials/totalscore.js") %>




<%- include("./partials/footer") %>