<%- include("./partials/header2") %>


<div style="display: inline-block; float: left;">
    <br> 
    <img src="static/img/archie.png" style="width:120px;padding:15px;" align="middle" alt="Go !">
    <p class="infotext">  🔖 Let's dive into your lessons !</p>
    <br>
    <br>
<div class="divbox">
<a href="/economy_teenage" class="infotext">Economy</a> 
<br>
<br>
<a href="/tax" class="infotext">Taxes</a> 
<br>
    <br>
<a href="/work" class="infotext">Bank</a> 
<br>
    <br>
</div>

<div class="divbox">
    <a href="/economy_teenage" class="infotext">Savings</a> 
    <br>
    <br>
    <a href="/work" class="infotext">Work</a> 
    <br>
        <br>
    <a href="/work" class="infotext">Peer Pressure</a> 
    <br>
        <br>
    </div>


    <div class="divbox">
       
        <a href="/economy_teenage" class="infotext">Loans & Debt</a> 
        <br>
        <br>
        <a href="/investment" class="infotext">Investment</a> 
        <br>
        <br>
        <a href="/retirement" class="infotext">Retirement</a> 
        <br>
            <br>
        </div>


</div>
<%- include("./pointsboard2") %>
 
    <br>
        
 
</body>



<%- include("./partials/totalscore.js") %>


<!--
    <script src="https://code.jquery.com/jquery-3.2.1.min.js">
    $(function() {
      
            var id =$("#username").val();
            var data = {
                username: $("#username").val(),
                points: $("#totalscore").val()
            }
            $.ajax({
                method: "PUT",
                url: '/miniage/' + id + "?_method=PUT",
                dataType: 'json',
                data: data
            }).success(function(data){
                updateData.append("<p>Response: Data saved!</p>");
                console.log("Successful!" + data);
            }).fail(function(data){
                console.log("Oops not working" + data);
            });
        
    })
</script>

-->

<%- include("./partials/footer") %>