<%- include("../../partials/header") %>


<div style="display: inline-block; float: left;width:700px;">

    <img src="static/img/archie.png" style="width:120px;padding:15px;" align="middle" alt="Go !">
    <p class="infotext"> Taxes </p>
    <br/>
    <br/>
    <p class="paratext">A tax is a compulsory financial charge imposed by a governmental organization in order to fund government spending and various public expenditures.
     <br><br>
    🔖 Tax is something which is part of your own money collected by government which they use for public works!
     <br/>
     <br/>
     🔖 Direct Tax    - Collected from individuals , companies etc when income exceeds the limit !
     <br/>
     <br/>
     🔖 Indirect Tax   - Collected on goods and services !

     

    <br>
     <br>
    🤔 What happens when many people dont pay taxes ?

    <br>

    <br>
    Of Course , Income Tax Raid ....

    </p>



  <br>
  <br>
    <a href="/workquiz" class="btn btn-primary" style="align-self: center;">Go to Quiz !</a>

</div>

<%- include("../../pointsboard") %>


 



 
</body>



<%- include("../../partials/totalscore.js") %>




<%- include("../../partials/footer") %>