<%- include("../../partials/header") %>


<div style="display: inline-block; float: left;width:700px;">

    <img src="static/img/archie.png" style="width:120px;padding:15px;" align="middle" alt="Go !">
    <p class="infotext"> Retirement </p>
    <br/>
    <br/>
    <p class="paratext">
     <br><br>
     🔖 Its Never too Early, experts say !
     <br/>
     <br/>
     🔖 For Retirement Plans ,its better to make a long-term savings by putting some earnings in Roth account.
    
    <br>
     <br>
    🤔 What is Roth IRA ?

    <br>

    <br>
    A Roth IRA is an individual retirement account in which money grows tax-free and retirement withdrawals are tax-free.

    </p>



  <br>
  <br>
    <a href="/retirementquiz" class="btn btn-primary" style="align-self: center;">Go to Quiz !</a>

</div>

<%- include("../../pointsboard") %>


 



 
</body>



<%- include("../../partials/totalscore.js") %>




<%- include("../../partials/footer") %>