<%- include("../../partials/header") %>


<div style="display: inline-block; float: left;width:700px;">

    <img src="static/img/archie.png" style="width:120px;padding:15px;" align="middle" alt="Go !">
    <p class="infotext"> Saving </p>
    <p class="paratext">
     <br/>
     <br/>
     🔖 Saving is all about collecting and keeping aside money for your pocket-money.
     <br/>
     <br/>
     🔖 It’s fun,there are many money-saving apps out there which helps in saving and money management.

     <br>

     <br>
     🤔 How do you save money ?
 
     <br>
 
     <br>
     You can save by not spending money on things you don’t need. With this in mind, you will have enough money to pay for the things you really want.
     <br>
     Get a money-management or money-saver app - know <a href ="https://www.collegeraptor.com/paying-for-college/articles/financial-advice-planning/money-saving-apps-college-students/">here</a>!
     <br>
     Have a savings account and regularly save money by investments etc.
    
    </p>


  <br>
  <br>
    <a href="/saving2quiz" class="btn btn-primary" style="align-self: center;">Go to Quiz !</a>

</div>

<%- include("../../pointsboard") %>


 



 
</body>



<%- include("../../partials/totalscore.js") %>




<%- include("../../partials/footer") %>