<%- include("../../partials/header") %>


<div style="display: inline-block; float: left;width:700px;">

    <img src="static/img/boy.png" style="width:100px;padding:15px;" align="middle" alt="Go !">
    <p class="infotext"> Saving </p>
    <p class="paratext">Saving is all about collecting and keeping aside money for your favorite chocolates or toys.<br>It’s fun, find a jar or can, where you can collect all the coins you get for being a good kid!
    </p>



    <a href="/savingquiz" class="btn btn-danger">Go to Quiz !</a>

</div>

<%- include("../../pointsboard") %>


 



 
</body>



<%- include("../../partials/totalscore.js") %>




<%- include("../../partials/footer") %>