<%- include("../../partials/header") %>


<div style="display: inline-block; float: left;width:700px;">

    <img src="static/img/boy.png" style="width:120px;padding:15px;" align="middle" alt="Go !">
    <p class="infotext"> Saving </p>
    <p class="paratext">
     <br/>
     <br/>
     🔖 Saving is all about collecting and keeping aside money for your favorite chocolates or toys
     <br/>
     <br/>
     🔖 It’s fun, find a jar or a piggy bank, where you can collect all the coins you get for being a good kid!

     <br>

     <br>
     🤔 How do you save money ?
 
     <br>
 
     <br>
     You can save by not spending money on things you don’t need. With this in mind, you will have enough money to pay for the things you really want.
    
    </p>


  <br>
  <br>
    <a href="/savingquiz" class="btn btn-primary" style="align-self: center;">Go to Quiz !</a>

</div>

<%- include("../../pointsboard") %>


 



 
</body>



<%- include("../../partials/totalscore.js") %>




<%- include("../../partials/footer") %>