<%- include("../../partials/header") %>


<div style="display: inline-block; float: left;width:700px;">

    <img src="static/img/boy.png" style="width:120px;padding:15px;" align="middle" alt="Go !">
    <p class="infotext"> Saving </p>
    <p class="paratext">
     <br/>
     <br/>
     🔖 When your mom buys you toffies , she gives coins or notes at the counter . Thats Money !
     <br/>
     <br/>
     🔖 Money is what you give in exchange of goods and services.
 
     <br>
 
     <br>
     🔖 Its a medium of exchange that can be used to pay for goods and services and to measure the value of things. 
    
    </p>


  <br>
  <br>
    <a href="/money_quiz" class="btn btn-primary" style="align-self: center;">Go to Quiz !</a>

</div>

<%- include("../../pointsboard") %>


 



 
</body>



<%- include("../../partials/totalscore.js") %>




<%- include("../../partials/footer") %>